@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
}

:root{
    --primary-color:#09456c;
    --secundary-color: #92ccb6;
    --hoover-color: #23145b;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;

}

header {
	background-color: var(--primary-color);
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;

}

h1 {
	flex: 1;
    font-family: 'Righteous', cursive;

}

.secao{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    margin-top: 100px;
    margin-bottom: 100px;
}

.sobre {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content:end;
    color: var(--primary-color);
}

.redessociais{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    position: absolute;
    width: 59px;
    height: 54px;
    left: 150px
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	flex: 3;
    
}

nav li {
	margin: 10px 25px 0;
}

nav a {
	color: #fff;
	text-decoration: none;

}

nav a:hover {
	text-decoration: underline;
    background-color: var(--hoover-color);
    padding: 10px;
    border-radius: 10px;
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding: 40px;

}

section {
	margin-bottom: 40px

}

.imagem-apresentacao {
    border-radius: 220px;
    margin-left: 800px;
    width: 220px;
    height: 220px;
    border-bottom: var(--primary-color);

}

.services {
    margin-top: -30px;
    padding: 50px;
    background-color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    background-color: var(--primary-color);
    margin: 10px;
}

.cards div ul i{
    font-size: 2.7rem; 
 }

 .titulo-materia{
    color: #fff;
    text-decoration: none;
 }

.cards a {
    text-decoration: none;
}

footer {

    background-color: var(--primary-color);
    padding: 100px;
}

footer p {
    color: #ffff
}

footer p a {
    text-decoration: none;
    color: #ffff;
}
